<section class="section">
  <div class="Edit_ProFile" style="display:block;">
    <div class="Edit_header">Edit Profile</div>
    <p class="Edit_sub">This Information is shared with and only visible to scholarships you
      apply to.</p>
    <div class="form">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="First Name" class="col-sm-12 control-label">First Name:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="First Name" placeholder="First Name">
              </div>
            </div>
            <div class="col-sm-6">
              <label for="First Name" class="col-sm-12 control-label">Last Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="First Name" placeholder="Last Name">
              </div>
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="Email" class="col-sm-12 control-label">Contact Email:</label>
              <div class="col-sm-12">
                <input type="email" class="form-control" id="Email" placeholder="Email">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="phone" class="col-sm-12 control-label">Contact Phone Number:</label>
              <div class="col-sm-12">
                <input type="number" class="form-control" id="Email" placeholder="phone number">
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="City" class="col-sm-12 control-label">City:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="First Name" placeholder="City">
              </div>
            </div>
            <div class="col-sm-3">
              <label for="State" class="col-sm-12 control-label">State:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="First Name" placeholder="State">
              </div>
            </div>

            <div class="col-sm-3">
              <label for="Code" class="col-sm-12 control-label">Zip Code:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="First Name" placeholder="Code">
              </div>
            </div>

          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="Student" class="col-sm-12 control-label">Student ID #:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="Email" placeholder="phone number">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="Major" class="col-sm-12 control-label">Major:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="Email" placeholder="phone number">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="update">Update</div>
        </div>
      </form>
    </div>
  </div>
</section>
