<section class="section">
  <div class="Edit_ProFile" style="display:block;">
    <div class="Edit_header">Edit Profile</div>
    <p class="Edit_sub">This Information is shared with and only visible to scholarships you
      apply to.</p>

      <form  [formGroup]="form" (ngSubmit)="onSubmit()">

        <div *ngIf="error">
          {{error}}
        </div>


        <div class="form-group mb-3" >
          <div class="row">
            <div class="col-sm-6">
              <label for="first_name" class="col-sm-12 fw-bold control-label">First Name:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="first_name" formControlName="first_name">
              </div>

              <div class="error" *ngIf="first_name.invalid && first_name.touched">
                <div *ngIf="first_name.errors.required">
                  First Name is required.
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <label for="last_name" class="col-sm-12 fw-bold control-label">Last Name:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="last_name" formControlName="last_name">
              </div>

              <div class="error" *ngIf="last_name.invalid && last_name.touched">
                <div *ngIf="last_name.errors.required">
                  Last Name is required.
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group mb-3">
          <div class="row">
            <div class="col-sm-12">
              <label for="email" class="col-sm-12 fw-bold control-label">Contact Email:</label>
              <div class="col-sm-12">
                <input type="email" class="form-control" id="email" placeholder="example@mail.com" formControlName="email">

                <div class="error" *ngIf="email.invalid && email.touched">
                  <div *ngIf="email.errors.required">
                    Email is required.
                  </div>

                  <div *ngIf="email.errors.email">
                    Please enter a valid email.<br>
                    I.e., email@example.com
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group mb-3">
          <div class="row">
            <div class="col-sm-12">
              <label for="phone_number" class="col-sm-12 fw-bold control-label">Contact Phone Number:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="phone_number" placeholder="555-555-5555" formControlName="phone_number">
                <div class="error" *ngIf="phone_number.invalid && phone_number.touched">
                  <div *ngIf="phone_number.errors.pattern">
                    Please enter a valid phone number.<br>
                    I.e., 555-555-5555
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group mb-3">
          <div class="row">
            <div class="col-sm-6">
              <label for="city" class="col-sm-12 fw-bold control-label">City:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
            </div>

            <div class="col-sm-3">
              <label for="state" class="col-sm-12 fw-bold control-label">State:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="state" formControlName="state">
              </div>
            </div>

            <div class="col-sm-3">
              <label for="zip" class="col-sm-12 fw-bold control-label">Zip Code:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="zip" formControlName="zip">
              </div>
            </div>
          </div>
        </div>


        <div class="form-group mb-3">
          <div class="row">
            <div class="col-sm-12">
              <label for="student_number" class="col-sm-12 fw-bold control-label">Student ID:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="student_number" placeholder="########" formControlName="student_number">
                <div class="error" *ngIf="student_number.invalid && student_number.touched">
                  <div *ngIf="student_number.errors.required">
                    Student ID is required.
                  </div>

                  <div *ngIf="student_number.errors.pattern">
                    Please enter a valid student ID.<br>
                    I.e., 12345678
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group mb-3">
          <div class="row">
            <div class="col-sm-12">
              <label for="major" class="col-sm-12 fw-bold control-label">Major:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="major" formControlName="major">
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <a class="login-links-1" routerLink="/dashboard">Go Back</a>
          <input type="submit" class="update" value="Update"/>
        </div>
      </form>

      <hr>

      <details open="false">
        <summary>Danger Zone</summary>
        <button (click)="requestAccountDeletion()" class="btn btn-danger">Delete my account</button>
      </details>
    </div>
</section>
