<section class="section">
  <div class="Edit_ProFile" style="display:block;">
    <div class="Edit_header">Edit Profile</div>
    <p class="Edit_sub">This Information is shared with and only visible to scholarships you
      apply to.</p>

      <form  [formGroup]="form" (ngSubmit)="onSubmit()">

        <div *ngIf="error">
          {{error}}
        </div>


        <div class="form-group" >
          <div class="row">
            <div class="col-sm-6">
              <label for="first_name" class="col-sm-12 control-label">First Name:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="first_name" formControlName="first_name">
              </div>
            </div>

            <div class="col-sm-6">
              <label for="last_name" class="col-sm-12 control-label">Last Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="last_name" formControlName="last_name">
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="email" class="col-sm-12 control-label">Contact Email:</label>
              <div class="col-sm-12">
                <input type="email" class="form-control" id="email" placeholder="example@mail.com" formControlName="email">
                <div class="error" *ngIf="errors.has('email')">
                  {{errors.get('email')}}
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="phone_number" class="col-sm-12 control-label">Contact Phone Number:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="phone_number" placeholder="555-555-5555" formControlName="phone_number">
                <div class="error" *ngIf="errors.has('phone_number')">
                  {{errors.get('phone_number')}}
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="city" class="col-sm-12 control-label">City:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="city" formControlName="city">
              </div>
            </div>

            <div class="col-sm-3">
              <label for="state" class="col-sm-12 control-label">State:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="state" formControlName="state">
              </div>
            </div>

            <div class="col-sm-3">
              <label for="zip" class="col-sm-12 control-label">Zip Code:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="zip" formControlName="zip">
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="student_number" class="col-sm-12 control-label">Student ID:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="student_number" placeholder="########" formControlName="student_number">
                <div class="error" *ngIf="errors.has('student_number')">
                  {{errors.get('student_number')}}
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="major" class="col-sm-12 control-label">Major:</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="major" formControlName="major">
              </div>
            </div>
          </div>
        </div>


        <div class="form-group">
          <a class="login-links-1" routerLink="/dashboard">Go Back</a>
          <input type="submit" class="update" value="Update"/>
        </div>
      </form>

      <hr>

      <details>
        <summary>Danger Zone</summary>
        <ul id="danger-list">
          <li><a href="change_password">Change password</a></li>
          <li><a (click)="requestAccountDeletion()" style="cursor:pointer" class="link-danger">Delete my account</a></li>
        </ul>
      </details>
    </div>
</section>
