<section class="section">

  <div class="column is-5 is-offset-4">
<!--  <form action="/dashboard"  [formGroup]="form" (ngSubmit)="onSubmit()">-->
    <form  [formGroup]="form" (ngSubmit)="onSubmit()" class="error" >
      <div *ngIf="error">
        {{error}}
      </div>

      <div class="box">
        <p class="subtitle">Account Registration</p>

        <div class="field">
          <label class="label" for="username">Username:</label>
          <p class="control has-icons-left">
            <input id="username" class="input" type="text" placeholder="Username" formControlName="username">
            <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          </p>
          <div class="error" *ngIf="errors.has('username')">
            {{errors.get('username')}}
          </div>
        </div>

        <div class="field">
          <div class="password" id="password1">
            <label class="label" for="password">Password:</label>
            <p class="control has-icons-left">
              <input id="password" class="input" type="password" placeholder="Password" formControlName="password">
              <span class="icon is-small is-left">
               <i class="fas fa-lock"></i>
            </span>
            </p>
          </div>

          <div class="password" id="password2">
            <label class="label" for="confirm-password">Confirm Password:</label>
            <p class="control has-icons-left">
              <input id="confirm-password" class="input" type="password" placeholder="Confirm Password" formControlName="confirm_password">
              <span class="icon is-small is-left">
               <i class="fas fa-lock"></i>
            </span>
            </p>
            <div class="error" *ngIf="errors.has('confirm_password')">
              {{errors.get('confirm_password')}}
            </div>
          </div>

          <div class="password">
            <div class="content">
              <p>Password Requirements:</p>
              <ul class="password-requirements">
                <li>Must be at least 8 characters long</li>
                <li>Must contain at each of the following:
                  <ul>
                    <li>One lower-case letter</li>
                    <li>One upper-case letter</li>
                    <li>One number</li>
                    <li>One special symbol</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">User Type:</label>

          <input type="radio" class="account-type" id="radio-student" name="account-type" value="Student"  onclick='document.getElementById("user-id-label").innerHTML = "Student ID:"'  checked="checked" >
          <label class="radio-label" for="radio-student">Student</label>

          <input type="radio" class="account-type" id="radio-employee" name="account-type" value="Employee" onclick='document.getElementById("user-id-label").innerHTML = "Employee ID:"'>
          <label class="radio-label" for="radio-employee">Employee</label>

        </div>

        <div class="field">
          <label class="label" for="institutions">Institution:</label>
          <select id="institutions" name="institutions" class="select">
            <option value="byu">Brigham Young University</option>
            <option value="dixie">Dixie State University</option>
            <option value="southern utah">Southern Utah University</option>
            <option value="university of utah">University of Utah</option>
            <option value="utah state">Utah State University</option>
            <option value="utah valley">Utah Valley University</option>
            <option value="weber">Weber State University</option>
          </select>
        </div>

        <div class="field">
          <label class="label" for="email" id="email-label">Email:</label>
          <p class="control has-icons-left">
            <input id="email" class="input" type="email" placeholder="Email" formControlName="email">
            <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          </p>
          <div class="error" *ngIf="errors.has('email')">
            {{errors.get('email')}}
          </div>
        </div>

        <div class="field">
          <label class="label" for="first_name" id="first-name-label">First Name:</label>
          <p class="control has-icons-left">
            <input id="first_name" class="input" type="text" placeholder="First Name" formControlName="first_name">
            <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          </p>
        </div>

        <div class="field">
          <label class="label" for="last_name" id="last-name-label">Last Name:</label>
          <p class="control has-icons-left">
            <input id="last_name" class="input" type="text" placeholder="Last Name" formControlName="last_name">
            <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          </p>
        </div>

        <div class="field">
          <label class="label" id="user-id-label" for="user_id">Student ID:</label>
          <input id="user_id" class="input" type="text" placeholder="W#" formControlName="user_id">
          <div class="error" *ngIf="errors.has('user_id')">
            {{errors.get('user_id')}}
          </div>
        </div>

        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input type="checkbox" formControlName="checkbox">
              I have read and agree to the <a class="term-and-conditions-link" href="/#">Terms and Conditions</a>
            </label>
            <div class="error"  *ngIf="errors.has('checkbox')">
              {{errors.get('checkbox')}}
            </div>
          </div>
        </div>

        <div class="field">
          <div class="register-btn-left">
            <p class="control">
              <a class="login-links-1" routerLink="/">Already have an account? Log in</a>

              <input type="submit" value="Register" class="button is-success is-small"/>

            </p>
          </div>
        </div>


      </div>
    </form>
  </div>
</section>


