<!-- If the user isn't signed in, display an error message -->
<div class="alert alert-danger" role="alert" *ngIf="!SignedIn">
  <h4 class="alert-heading">You must be signed in to submit an issue</h4>
  <hr>
  <p class="mb-0">Please <a class="alert-link" routerLink="/">click here</a> to be redirected to the login screen.</p>
</div>

<section class="container p-3" *ngIf="SignedIn">
  <h1>Report Issue</h1>

  <form [formGroup]="reportIssueForm" (ngSubmit)="SubmitIssue()">
    <!-- Success Notification -->
    <div class="alert alert-success" *ngIf="validMessage">{{validMessage}}</div>
    <!-- Error Notification -->
    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>

    <!-- Reported By -->
    <!-- ToDo: Auto-Populate User based on session -->
    <div class="mt-4">
      <label for="username">Reported by</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
        <input id="username" class="form-control" type="text" formControlName="username" placeholder="Username" />
      </div>
      <div class="error" *ngIf="username.invalid && username.touched">
        <div *ngIf="username.errors.required">
          Username is required.
        </div>
      </div>
    </div>

    <!-- Summary -->
    <div class="mt-2">
      <label for="summary">Summary</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-tag"></i></span>
        <input id="summary" class="form-control" type="text" formControlName="summary" />
      </div>
      <div class="error" *ngIf="summary.invalid && summary.touched">

        <div *ngIf="summary.errors.required">
          Summary is required.
        </div>

        <div *ngIf="summary.errors.pattern">
          Summary must be at least 15 characters long.
        </div>

      </div>
    </div>

    <!-- Description -->
    <div class="mt-2">
      <label for="description">Description</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-file-alt"></i></span>
        <textarea id="description" class="form-control" formControlName="description" rows="5"> </textarea>
      </div>
      <div class="error" *ngIf="description.invalid && description.touched">

        <div *ngIf="description.errors.required">
          Description is required.
        </div>

        <div *ngIf="description.errors.pattern">
          Description must be at least 50 characters long.
        </div>

      </div>
    </div>

    <!-- Steps to ReCreate -->
    <div class="mt-2">
      <label for="recreate">Steps to recreate issue</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-list-ol"></i></span>
        <textarea id="recreate" class="form-control" formControlName="recreate" rows="5"></textarea>
      </div>
      <div class="error" *ngIf="recreate.invalid && recreate.touched">

        <div *ngIf="recreate.errors.required">
          Description is required.
        </div>

        <div *ngIf="recreate.errors.pattern">
          Steps to recreate must be at least 15 characters long.
        </div>

      </div>
    </div>

    <!-- Severity -->
    <div class="mt-2">
      <label for="severity">Severity</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-bug"></i></span>
        <select id="severity" class="form-control" formControlName="severity">
          <option [ngValue]="0" disabled selected>Select Severity</option>
          <option *ngFor="let severity of severityList" [value]="severity"> {{severity}}</option>
        </select>
      </div>
      <div class="error" *ngIf="severity.invalid && severity.touched">
        <div *ngIf="severity.errors.required">
          Severity is required.
        </div>
      </div>
    </div>


    <!-- Priority -->
    <div class="mt-2">
      <label for="priority">Priority</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fas fa-chevron-circle-up"></i></span>
        <select id="priority" class="form-control" formControlName="priority">
          <option [ngValue]="0" disabled selected>Select Priority</option>
          <option *ngFor="let priority of priorityList" [value]="priority"> {{priority}}</option>
        </select>
      </div>
      <div class="error" *ngIf="priority.invalid && priority.touched">
        <div *ngIf="priority.errors.required">
          Priority is required.
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="btn-toolbar mt-4">
      <button style="margin-right: 10px" [disabled]="!reportIssueForm.valid" class="btn btn-success btn-lg">Submit</button>
      <button class="btn btn-outline-danger btn-lg" routerLink="/issues">Cancel</button>
    </div>

  </form>
</section>
