<section class="container p-3">
    <h1>Forgot Password</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="field">
            <p>
                If there is an account registered to your email address, you will receive an email with a link to reset
                your password.
            </p>
        </div>

        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <input
                id="email"
                class="form-control"
                type="text"
                formControlName="email"
                placeholder="email@example.com"
                required />
        </div>

        <!-- ERROR CODE -->
        <div class="error" *ngIf="error">
            {{ error }}
        </div>

        <div class="field">
            <div class="login-btn-left">
                <p class="control">
                    <a class="login-links-2" routerLink="/">Back to Log In</a>
                    <input type="submit" value="Submit" class="button is-success is-small" />
                </p>
            </div>
        </div>
    </form>
</section>
