<section class="container p-3">
    <h1>Forgot Password</h1>

    <!-- old content of this page -->
     <!-- <p class="subtitle">Forgot Password</p>

     <div class="field">
       <label class="label" for="school-email">Email Address:</label>
       <p class="control has-icons-left">
         <input id="school-email" class="input" type="email" placeholder="Email Address">
         <span class="icon is-small is-left">
           <i class="fas fa-envelope"></i>
         </span>
       </p>
     </div> -->

    <form>

        <div class="field">
            <p>
            If there is an account registered to your email address, you will
            receive an email with a link to reset your password.
            </p>
        </div>

        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            <input id="email" class="form-control" type="text" formControlName="email" placeholder="email@example.com"
                   required>
        </div>
    
        <!-- ERROR CODE -->
        <!-- <div class="error" *ngIf="username.invalid && username.touched">
            <div *ngIf="username.errors.required">
              Username (email) is required.
            </div>
    
            <div *ngIf="username.errors.email">
              Please enter a valid username (email).<br>
              I.e., email@example.com
            </div>
        </div> -->

        <div class="field">
            <div class="login-btn-left">
                <p class="control">
                    <a class="login-links-2" routerLink="/">Back to Log In</a>
                    <input type="submit" value="Send Email" class="button is-success is-small">
                </p>
            </div>
        </div>
    </form>
    
</section>



