<h1>hello</h1>
<section class="section">
  <div class="column is-5 is-offset-4">

    <h1 class="title header">WebScholar</h1>

    <div class="box">
      <p class="subtitle">Forgot Password</p>

<!--      <form (ngSubmit)="onSubmit()" [formGroup]="form">-->
      <form [formGroup]="form">
        <div class="mt-4">
          <label for="username">Username</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input id="username" class="form-control" type="text" formControlName="username" placeholder="email@example.com"
                   required>
          </div>

          <div class="error" *ngIf="username.invalid && username.touched">
            <div *ngIf="username.errors.required">
              Username (email) is required.
            </div>

            <div *ngIf="username.errors.email">
              Please enter a valid username (email).<br>
              I.e., email@example.com
            </div>
          </div>

          <div class="error" *ngIf="username.hasError('err_email_not_exists') && username.touched">
            Username does not exist.
          </div>
        </div>
        <div class="field">
          <div class="login-btn-left">
            <p class="control">
              <a class="login-links-2" routerLink="/">Back to Log In</a>
              <a class="login-links-2" routerLink="/new_password">New password</a>
              <button (click)="onSubmit()" class="button is-success is-small">
                Submit
              </button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>



