<section class="section">
  <div class = "box">
    <router-outlet></router-outlet>
    <p *ngIf="type;else other_title" class="subtitle">Create Chair Registration Invitation</p>
    <ng-template #other_title>Create Committee Member Registration Invitation</ng-template>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <br>
      <div *ngIf="error">
        {{error}}
      </div>
      <div *ngIf="type;else other_email_field" class="field">
        <label class="emailLabel" >Enter email</label>
        <input type="email" size="100%" placeholder="example@email.com" formControlName="emails">
      </div>
      <ng-template #other_email_field>
        <label class="emailLabel" >Enter email/s (Comma separated if multiple)</label>
        <br>
        <input type="email" size="100%" multiple placeholder="example@email.com, example2@email.com..." formControlName="emails">
      </ng-template>

      <div class="error" *ngIf="errors.has('emails')">
        {{errors.get('emails')}}
      </div>


      <div class="field">
        <div class="register-btn-left">
          <button type="submit" class="button is-success is-small">
            Send Invitation(s)
          </button>
        </div>
      </div>
    </form>
  </div>


</section>
