<section class="section">
  <div class="column is-5 is-offset-4">

    <h1 class="title header">WebScholar</h1>

    <div class="box">
      <p class="subtitle">Forgot Password</p>

      <div class="field">
        <label class="label" for="password">Enter New Password:</label>
        <p class="control has-icons-left">
          <input id="password" class="input" type="text" placeholder="New Password">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
        <label class="label" for="password2">ReEnter New Password:</label>
        <p class="control has-icons-left">
          <input id="password2" class="input" type="text" placeholder="New Password">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <div class="login-btn-left">
          <p class="control">
            <a class="login-links-2" routerLink="/">Back to Log In</a>
            <button (click)="onFPassword()" class="button is-success is-small">
              Submit
            </button>
          </p>
        </div>
      </div>


    </div>
  </div>
</section>
