<section class="section">
  <form>
    <h4>Request Committee Role</h4>
    <p>In order to have your account upgraded to Committee Member or Committee Chair status, you must request a role below.</p>
    <mat-form-field appearance="fill">
      <mat-label>Select Role</mat-label>
      <mat-select [(ngModel)]="role_select" name="role_select" ngDefaultControl>
        <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</section>


