<section class="section">
  <div class="changePassword">
    <div class="changePassword_header">Change Password</div>
    <p class="Password_sub">In  order to change your password,you must enter your current password.</p>
    <div class="form">
      <form class="form-horizontal" role="form">

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="Current Password" class="col-sm-12 control-label">Current Password:</label>
              <div class="col-sm-12">
                <input type="password" class="form-control" id="Password"
                       placeholder="Current Password">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="New Password" class="col-sm-12 control-label">New Password:</label>
              <div class="col-sm-12">
                <input type="password" class="form-control" id="Email"
                       placeholder="New Password">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-change-password">
            <p>Password Requirements:</p>
            <p>Must be at least 8 characters long</p>
            <p>Must contain at least all of the following:</p>
            <p>One lower-case letter</p>
            <p>One upper-case letter</p>
            <p>One special symbol</p>

          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="Confirm New Password" class="col-sm-12 control-label">Confirm New Password:</label>
              <div class="col-sm-12">
                <input type="password" class="form-control" id="Email"
                       placeholder="Confirm New Password">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="update">Update</div>
        </div>
      </form>
    </div>
  </div>
</section>
