<section class="container p-3">
    <h1>Change Password</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mt-4">
            <div class="col-md-6 mt-2">
                <label for="current_password">Current Password</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input
                        id="current_password"
                        class="form-control"
                        type="password"
                        formControlName="current_password"
                        required />
                </div>

                <div class="error" *ngIf="current_password.invalid && current_password.touched">
                    <div *ngIf="current_password.errors.required">Password is required.</div>

                    <div *ngIf="current_password.errors.pattern">Password must fulfill all criteria.</div>
                </div>
            </div>

            <div class="col-md-6 mt-2">
                <div class="password">
                    <div class="content">
                        <p>Password Requirements:</p>
                        <ul class="password-requirements">
                            <li>Must be at least 8 characters long</li>
                            <li>
                                Must contain at each of the following:
                                <ul>
                                    <li>One lowercase letter</li>
                                    <li>One uppercase letter</li>
                                    <li>One number</li>
                                    <li>One special symbol</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4" formGroupName="passwordFields">
            <div class="col-md-6 mt-2">
                <label for="new_password">New Password</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input
                        id="new_password"
                        class="form-control"
                        type="password"
                        formControlName="new_password"
                        required />
                </div>

                <div class="error" *ngIf="new_password.invalid && new_password.touched">
                    <div *ngIf="new_password.errors.required">Password is required.</div>

                    <div *ngIf="new_password.errors.pattern">Password must fulfill all criteria.</div>
                </div>
            </div>

            <div class="col-md-6 mt-2">
                <label for="confirm_password">Confirm New Password</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                    <input
                        id="confirm_password"
                        class="form-control"
                        type="password"
                        formControlName="confirm_password"
                        required />
                </div>

                <div class="error" *ngIf="confirm_password.invalid && confirm_password.touched">
                    <div *ngIf="confirm_password.errors.required">Please confirm the password.</div>
                </div>

                <div class="error" *ngIf="passwordFields.hasError('err_mismatch') && confirm_password.touched">
                    Passwords do not match.
                </div>
            </div>
        </div>

        <div class="mt-4">
            <button [disabled]="!form.valid" type="submit" class="btn btn-primary form-control">Change Password</button>
        </div>
    </form>

    <!--
  <div class="field">
          <label class="label" for="first_name" id="first-name-label">First Name:</label>
          <p class="control has-icons-left">
            <input id="first_name" class="input" type="text" placeholder="First Name" formControlName="first_name"
                   required>
            <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          </p>

          <div class="error" *ngIf="first_name.invalid && first_name.touched">
            <div *ngIf="first_name.errors.required">
              First name is required.
            </div>
          </div>
        </div>
      -->

    <!--
  <div class="changePassword">
    <div class="changePassword_header">Change Password</div>
    <p class="Password_sub">In  order to change your password,you must enter your current password.</p>
    <div class="form">
      <form class="form-horizontal" role="form">

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="Current Password" class="col-sm-12 control-label">Current Password:</label>
              <div class="col-sm-12">
                <input type="password" class="form-control" id="Password"
                       placeholder="Current Password">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="New Password" class="col-sm-12 control-label">New Password:</label>
              <div class="col-sm-12">
                <input type="password" class="form-control" id="Email"
                       placeholder="New Password">
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="form-change-password">
            <p>Password Requirements:</p>
            <p>Must be at least 8 characters long</p>
            <p>Must contain at least all of the following:</p>
            <p>One lower-case letter</p>
            <p>One upper-case letter</p>
            <p>One special symbol</p>

          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <label for="Confirm New Password" class="col-sm-12 control-label">Confirm New Password:</label>
              <div class="col-sm-12">
                <input type="password" class="form-control" id="Email"
                       placeholder="Confirm New Password">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="update">Update</div>
        </div>
      </form>
    </div>
  </div>
  -->
</section>
