<section class="section">
  <div class="column is-5 is-offset-4">

    <h1 class="title header">WebScholar</h1>

    <div class="box">
      <p class="subtitle">Log In</p>

      <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div *ngIf="error">
          {{error}}
        </div>

        <div class="field">
          <label class="label" for="username">Username</label>
          <p class="control has-icons-left">
            <input id="username" class="input" type="text" placeholder="Username" formControlName="username"
                   required="required">
            <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          </p>
        </div>

        <div class="field">
          <label class="label" for="password">Password:</label>
          <p class="control has-icons-left">
            <input id="password" class="input" type="password" placeholder="Password" formControlName="password"
                   required="required">
            <span class="icon is-small is-left">
             <i class="fas fa-lock"></i>
          </span>
          </p>
        </div>

        <div class="field">
          <div class="login-btn-left">
            <p class="control">
              <a class="login-links-1" routerLink="/register">Create an Account</a>
              <span class="has-dot-separator">&bull;</span>
              <a class="login-links-2" routerLink="/forgot_password">Forgot Password?</a>
              <button type="submit" class="button is-success is-small">
                Log In
              </button>
            </p>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>



