<section class="section">
  <div class="column is-5 is-offset-4">

    <h1 class="title header">WebScholar</h1>

    <div class="box">
      <p class="subtitle">Forgot Password</p>

      <div class="field">
        <p>
          If we have an account registered to that email address then you will
          shortly receive an email with a link to reset your password.
        </p>

      </div>

      <div class="field">
        <div class="login-btn-left">
          <p class="control">
            <a class="login-links-2" routerLink="/">Back to Log In</a>
          </p>
        </div>
      </div>


    </div>
  </div>
</section>




