<section class="section">
  <div class = "box">
    <nav class="navbar" role="navigation" aria-label="main navigation">

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item" routerLink="/create_scholarship">
            Create
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <a class="navbar-item" routerLink="/edit_profile">
            <strong>Profile</strong>
          </a>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" routerLink ="/">
                <strong>Log Out</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="header">
      <strong>Welcome Jane Doe!<hr></strong>
    </div>
    <div class="main">
    <div class="updates">
      <strong>Latest Updates</strong>
      <hr>
      <ul class="update-list">
        <li>Scholarship for Computer Science just posted</li>
        <li>Health Administration scholarship advising now available</li>
      </ul>
    </div>


    <div class="scholarship-table">
      <div class="table-header">
        <strong>Applied Scholarships</strong>
      </div>
      <table>
        <tr>
          <th>Scholarship</th>
          <th>Status</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Regent's Scholarship</td>
          <td>Being Reviewed</td>
          <td>4/5/2021</td>
        </tr>
        <tr>
          <td>Presidential Scholarship</td>
          <td>Applied</td>
          <td>4/1/2021</td>
        </tr>
        <tr>
          <td>Departmental Scholarship</td>
          <td>Denied</td>
          <td>4/7/2021</td>
        </tr>
      </table>
    </div>
  </div>
    <hr>

    <div class="events-header">
      <strong>Upcoming Events</strong>
    </div>
    <div class="upcoming-events">
      <ul>
        <li>Scholarship deadline - 4/25/2021</li>
        <li>Registration for Fall 2021 deadline - 4/30/2021</li>
      </ul>
    </div>
  </div>
</section>
